---
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
import FormattedDate from "@/components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

const bgClasses = [
  "bg-pgreen rounded-full",
  "bg-pblue rounded-2xl",
  "bg-ppink ",
  "bg-pyellow rounded-md",
];

const getRandomClass = () => {
  return bgClasses[Math.floor(Math.random() * bgClasses.length)];
};
---

<section class="flex flex-col text-center gap-4 reveal-on-scroll opacity-0" style="transform: translateY(30px);">
  <p class="text-pblack">My Portfolio</p>
  <h2 class="text-3xl md:text-4xl font-bold">Recent Projects</h2>
  <ul class="flex flex-wrap justify-center gap-8 py-20">
    {
      posts.map((post, index) => {
        const randomClass = getRandomClass();
        return (
          <li 
            class="w-72 text-left rounded-3xl border-1 border-black shadow-card group hover:shadow-hover transition px-4 py-6 flex flex-col gap-6 reveal-on-scroll opacity-0 hover:-translate-y-2 hover:rotate-1"
            style={`transform: translateY(30px); animation-delay: ${index * 0.1}s;`}
          >
            <a href={`/blog/${post.id}/`} class="flex flex-col gap-4">
              <div
                class={`${randomClass} text-4xl p-2 self-start border-1 border-black shadow-card1 group-hover:shadow-card transition group-hover:rotate-12`}
              >
                <Icon name={post.data.icon} />
              </div>
              <h4 class="text-xl font-semibold">{post.data.title}</h4>
              <p class="date -mt-4 text-sm font-light">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
            <div class="line-clamp-3 text-ellipsis overflow-hidden" set:html={post.data.description} />
          </li>
        );
      })
    }
  </ul>
</section>

<style>
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>

